@import url('../../../static/common.less');

.ui-page-loanOil{

  .loanOil-page{
    .tab-bar{
      width: 100%;
      background-color: #fff;
      color: #222;
      height: 48px;
      line-height: 48px;
      display: flex;
      .tab-hd{
        font-size: 16px;
        text-align: center;
        width: 50%;
        border-bottom: 2px #fff solid;   //1AAD19
      }
    }
  }
}