@import url('../../../static/common.less');

.ui-page-addLoan{
  .mui-bar-nav{
    background-color: #1AAD19;
  }
  .mui-content{
    font-size: 14px;
    margin-top: 15px;
  }
  #Amount,
  .textarea{
    font-size: 14px;
    border-left: none;
    border-right: none;
    border-radius: none;
  }
  .btn{
    padding: 0 15px;
    .mui-btn{
      width: 100%;
      padding: 10px;
    }
  }
}