@import url('../../../static/common.less');

.ui-page-feeDetail{
  background: #fff;
  .mui-bar.mui-bar-nav{
    background: #fff;
    .mui-icon,.mui-title{
      color: #222;
    }
  }
  #feeDetail-page{
    padding-bottom: 64px;
    background: #efeff4;
    padding-top: 85px;
  }
  
  .total{
    padding:15px 60px;
    z-index:500;
    margin:10px;
    height:115px;
    background:#5386df;
    border-radius:6px;
    color:#fff;
    text-align:center;
    .value{
      font-size: 28px;
      margin: 12px 0 15px 0;
      font-weight: bold;
      line-height: 30px;
    }
    .title{
      font-size: 14px;
    }
  }

  .sub-title{
    padding: 0 15px;
    color: #999;
    line-height: 30px;
    font-size: 14px;
    .iconfont{
      font-size: 20px;
      padding-right: 5px;
      vertical-align: middle;
    }
  }

  .fee-list{
    margin: 10px 15px;
    color: #666;
    font-size: 14px;
    background: #fff;
    padding-left: 15px;
    box-shadow: 0 0 4px #ddd;
    .item{
      line-height: 40px;
      border-bottom: 1px solid #eee;
      &:last-child{
        border-bottom: none;
      }
      span{
        float: right;
        text-align: right;
        padding-right: 15px;
        font-size: 16px;
        color: #000;
      }
    }
  }

  .add-btn{
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #1296db;
    position: fixed;
    width: 100%;
    top: 44px;
    background: #efeff4;
    z-index: 10;
  }
  .input-wrap{
    background: #fff;
    .mui-input-row{
      font-size: 14px;
      border-bottom: 1px solid #eee;
      input{
        font-size: 14px;
      }
      label{
        padding: 12px 15px;
      }
      &.total-row{
        font-weight: bold;
        font-size: 16px;
        line-height: 50px;
        border-top: 1px solid #2196F3;
        label{
          padding: 16px 15px;
        }
        .number{
          color: #f30;
          float: right;
          padding-right: 15px;
          font-size: 18px;
        }
      }
    }
  }
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .mui-btn{
      width: 50%;
      float: left;
      border-radius: 0;
      border: none;
      line-height: 30px;
    }
  }

  #category-wrap{
    position: fixed;
    z-index: 100;
    background: #eff2f5;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 47px 10px;
    display: none;
    .item{
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      box-shadow: 0 0 4px #ccc;
      font-size: 14px;
      margin: 5px;
      background: #f8f8f8;
      i{
        position: absolute;
        top: 0;
        right: 0;
        color: #f8f8f8;
      }
      &.selected{
        background: #1AAD19;
        color: #fff;
        i{
          color: #fff;
        }
      }
    }
  }
}