<!DOCTYPE html>
<html class="ui-page-feeDetail">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">费用详情</h1>
    </header>
		<div class="mui-content detail-page" id="feeDetail-page">
		<script id="fee-template" type="text/html">
			{{if mode == 'show'}}
			<div class="total">
				<div class="value">￥ {{total}}</div>
				<div class="title">费用总额(元)</div>
			</div>
			<div class="sub-title">
				<i class="iconfont icon-jiekuan"></i>费用明细 （{{list.length}}）
			</div>
			<div class="fee-list">
				{{each list as item key}}
	        <div class="item">
						<label>{{item.CostName}}</label>
						<span>{{item.Amount}}</span>
					</div>
	      {{/each}}  
			</div>
			{{else}}
				<div class="add-btn" id="add-btn"><i class="iconfont icon-add"></i>加一笔</div>
				<div class="input-wrap">
					{{each list as item key}}
					<div class="mui-input-row">
		        <label>{{item.Name}}</label>
				    <input type="text" class="mui-input-clear" value="{{item.Money}}" placeholder="请输入{{item.Name}},左滑可删除">
			    </div>
			    {{/each}}
			    <div class="mui-input-row total-row">
			    	<label>总额（元）</label>
			    	<div class="number" id="number">{{total}}</div>
			    </div>
				</div>
				<div class="footer">
					<div class="mui-btn mui-btn-primary" data-action="0">确定</div>
					<div class="mui-btn" data-action="1">取消</div>
				</div>
				<div class="category-wrap" id="category-wrap">
					{{each categoryList as item key}}
					<div class="item">{{item.Name}} <i class="iconfont icon-gouxuan"></i></div>
					{{/each}}
					<div class="footer ">
						<div class="mui-btn mui-btn-primary" data-action="2">确定</div>
						<div class="mui-btn" data-action="3">取消</div>
					</div>
				</div>
			{{/if}}
		</script>	
		</div>
	</body>
</html>