@import url('mui.min.css');
@import url('iconfont.css');
html {
  height: 100%;
  background-color: #eff2f5;
}
body {
  line-height: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eff2f5;
}
body .mui-content {
  background: none;
}
body .mui-bar-nav {
  box-shadow: none;
  background: #eff2f5;
}
body .mui-bar-nav .mui-icon {
  font-size: 18px;
  line-height: 24px;
}
body .mui-bar-nav .mui-title {
  color: #222;
  font-size: 14px;
}
body .mui-bar-nav ~ .mui-content {
  padding-bottom: 50px;
}
body .mui-bar-nav ~ .mui-content .mui-scroll-wrapper {
  top: 44px;
  bottom: 50px;
}
body .mui-bar-nav.mui-bar .mui-icon {
  color: #222;
}
body .mui-bar-nav ~ .mui-content .mui-scroll-wrapper {
  bottom: 0;
}
body .mui-bar.mui-bar-tab {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  background: #fff;
}
body .mui-bar.mui-bar-tab .mui-icon {
  font-size: 18px;
  margin-bottom: 3px;
}
body .mui-bar.mui-bar-tab.mui-bar-tab {
  background: #fff;
}
body .mui-bar.mui-bar-tab.mui-bar-tab .mui-tab-item.mui-active {
  color: #1AAD19;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.mui-scroll-wrapper {
  overflow: auto;
}
.mui-scroll-wrapper .mui-scroll {
  padding-bottom: 20px;
}
.mui-table-view-cell.mui-active {
  background: none;
}
.mui-btn-block {
  padding: 10px 0;
}
input[type='submit'],
.mui-btn-primary,
.mui-btn-blue {
  border-color: #1AAD19;
  background-color: #1AAD19;
}
.mui-table-view {
  border-radius: 6px;
  box-shadow: 0 0 4px #ccc;
}
.mui-table-view:before,
.mui-table-view:after {
  display: none;
  border-radius: 6px;
}
.fix-popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fix-popup .image-view-wrap {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 80px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fix-popup .image-view-wrap img {
  max-width: 100%;
  max-height: 100%;
}
.fix-popup .image-options {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: right;
  z-index: 3;
}
.fix-popup .image-options .opt-btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
}
.fix-popup .popup-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #000;
}
.nothing-box {
  text-align: center;
  margin-top: 50px;
}
.nothing-box .iconfont {
  font-size: 40px;
  color: #999;
}
.nothing-box .no-result {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  background: rgba(214, 211, 211, 0.6);
  border-radius: 50%;
}
.nothing-box p {
  margin-top: 15px;
}
.mui-table-view-cell > a:not(.mui-btn) {
  display: flex;
  justify-content: space-between;
}
.ui-page-accountDetail {
  font-size: 14px;
}
.ui-page-accountDetail .total {
  font-size: 14px;
  margin: 10px;
  background-color: #5386df;
  color: #fff;
  border-radius: 3px;
  padding: 15px;
}
.ui-page-accountDetail .total .income-total {
  padding: 5px 0;
  border-bottom: 1px #eee solid;
}
.ui-page-accountDetail .total .income-total .total-title {
  font-size: 16px;
}
.ui-page-accountDetail .total .income-total .total-value {
  margin-top: 10px;
  font-size: 22px;
}
.ui-page-accountDetail .total .income-parts {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.ui-page-accountDetail .total .income-parts .income-part div {
  margin-bottom: 5px;
}
.ui-page-accountDetail .account-detail {
  padding: 0 10px;
}
.ui-page-accountDetail .account-detail .waybill-detail,
.ui-page-accountDetail .account-detail .loan-detail,
.ui-page-accountDetail .account-detail .oil-detail {
  margin-bottom: 10px;
}
.ui-page-accountDetail .account-detail .mui-table-view {
  margin-top: 10px;
}
.ui-page-accountDetail .account-detail .mui-table-view .mui-table-view-cell {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.ui-page-accountDetail .account-detail .mui-table-view .mui-table-view-cell .cell-hd .cell-hd-part span {
  color: #888;
}
.ui-page-accountDetail .account-detail .mui-table-view .mui-table-view-cell .cell-bd {
  margin-left: 8px;
  text-align: right;
}
