<!DOCTYPE html>
<html class="ui-page-accountDetail">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <header class="mui-bar mui-bar-nav" style="background-color: #fff">
        <a style="color: #000" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title" style="color: #000">对账单详情</h1>
    </header>
    <div class="mui-content" id="mui-content">
        <script type="text/html" id="accountDetail-template">
            <div class="total">
                <div class="income-total">
                    <div class="total-title">净收入(元)</div>
                    <div class="total-value">{{total}}</div>
                    <div id="account-state">{{state}}</div>
                </div>
                <div class="income-parts">
                    <div class="income-part">
                        <div>运单收入(元)</div>
                        <div style="font-weight:bold;font-size: 16px;">{{waybillTotal}}</div>
                    </div>
                    <div class="income-part">
                        <div>借款支出(元)</div>
                        <div style="font-weight:bold;font-size: 16px;">{{loanTotal}}</div>
                    </div>
                    <div class="income-part">
                        <div>打油支出(元)</div>
                        <div style="font-weight:bold;font-size: 16px;">{{oilTotal}}</div>
                    </div>
                </div>
            </div>
            <div class="account-detail">
                    <div class="waybill-detail">
                        <header class="detail-hd">
                            <span class="mui-icon iconfont icon-duizhangdan1" ></span>
                            运单明细
                            <span>({{waybill.length}})</span>
                        </header>
                        {{if waybill.length > 0}}
                        {{each waybill as item i}}
                        <ul class="mui-table-view">
                                <li class="mui-table-view-cell fee-detail" data-id="{{item.TruckId}}" >
                                    <div class="cell-hd">
                                        <div class="cell-hd-part">
                                            <span>柜号：</span>{{item.TankNo}}
                                        </div>
                                        <div class="cell-hd-part">
                                            <span>装货地址：</span>{{item.DetailedAddress }}
                                        </div>
                                        <div class="cell-hd-part">
                                            <span>备注：</span> {{item.Remark }}
                                        </div>
                                    </div>
                                        <div class="cell-bd mui-navigate-right " style="padding-right:15px;">
                                            <div style="color: #f30;font-size: 18px;font-weight: bold;">{{item.Amount}}</div>
                                            <div style="color: #888;">运单总额</div>
                                            <div style="width: 74px;color: #888;">{{item.OrderDate}}</div>
                                        </div>
                                    </li>
                        </ul>
                        {{/each}}
                        {{else}}
                        <div class="nothing"><span>暂无数据</span></div>
                        {{/if}}
                    </div>
                    <div class="loan-detail">
                        <header class="detail-hd">
                            <span class="mui-icon iconfont icon-jiekuan" ></span>
                            借款明细
                            <span>({{loan.length}})</span>
                        </header>
                        {{if loan.length > 0}}
                        {{each loan as item i}}
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell">
                                <div class="cell-hd">
                                    <div class="cell-hd-part">
                                        <span>时间：</span>{{item.OrderDate}}
                                    </div>
                                    <div class="cell-hd-part">
                                        <span>事由：</span>{{item.UseDescription }}
                                    </div>
                                </div>
                                <div class="cell-bd">
                                    <div style="color: #1AAD19;font-size: 18px;font-weight: bold;">{{item.Amount}}</div>
                                </div>
                            </li>
                        </ul>
                        {{/each}}
                        {{else}}
                        <div class="nothing"><span>暂无数据</span></div>
                        {{/if}}
                    </div>
                    <div class="oil-detail">
                        <header class="detail-hd">
                            <span class="mui-icon iconfont icon-dayou" ></span>
                            打油明细
                            <span>({{oil.length}})</span>
                        </header>
                        {{if oil.length > 0}}
                        {{each oil as item i}}
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell">
                                <div class="cell-hd">
                                    <div class="cell-hd-part">
                                        {{item.OrderDate}}
                                    </div>
                                </div>
                                <div class="cell-bd">
                                    <div style="color: #1AAD19;font-size: 18px;font-weight: bold;">{{item.Amount}}</div>
                                </div>
                            </li>
                        </ul>
                        {{/each}}
                        {{else}}
                        <div class="nothing"><span>暂无数据</span></div>
                        {{/if}}
                    </div>
            </div>
            {{if state=='平台审核通过'}}
            <div class="submit-btn">
                <button id="checkPass" data-isthrough=1 data-id="checkNotpass" type="button" data-loading-icon="mui-spinner mui-spinner-custom" class="mui-btn mui-btn-success" data-loading-text="核对中">核对通过</button>
                <button id="checkNotpass" data-isthrough=0 data-id="checkPass" type="button" data-loading-icon="mui-spinner mui-spinner-custom" class="mui-btn mui-btn-danger" data-loading-text="核对中">核对不通过</button>
            </div>
            {{/if}}
        </script>
    </div>
</body>

</html>